
body {
  --gradient-start: #9d71bc;
  --gradient-end: #ff7f4d;
  background: linear-gradient(90deg, var(--gradient-start), var(--gradient-end));
  min-height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  font-family: "Lato", serif !important;
}

.nav-tabs .nav-link {
  color: grey; /* Default text color */
  font-weight: bold;
  border: none;
  padding: 8px 15px;
}

.nav-tabs .nav-link.active {
  background-color: #5E1B89 !important; /* Change to your preferred active tab color */
  color: white !important;
  border-radius: 8px 8px 0 0;
}

.nav-tabs .nav-link:hover {
  color: #5E1B89 !important; /* Change to your preferred hover color */
  background-color: rgba(157, 113, 188, 0.1);
  border-radius: 8px 8px 0 0;
}


h1{
  font-family: "Roboto Slab", sans-serif !important;
  color: #f4512c;
  font-weight: bold;
  font-size: 3pc;
}

h2{
  font-family: "DM Sans", sans-serif !important;
  color: white;
  font-weight: bold;
  font-size: 4pc;
}


.container {
  background: rgba(255, 255, 255, 0.8);
  padding: 20px;
  border-radius: 20px;
  box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.2);
}

.table {
  background: transparent !important;
  width: 100%;
  min-width: 600px;
  border-radius: 10px;
  text-align: center;
  table-layout: fixed;
}

.table thead tr {
  border-color: #5E1B89 !important;
}


.table th:nth-child(1),
.table td:nth-child(1) {
  width: 15pc;
  white-space: nowrap;
}

.table th:nth-child(2),
.table td:nth-child(2) {
  width: 8pc;
  white-space: nowrap;
}

.table th:nth-child(3),
.table td:nth-child(3) {
  width: 8pc;
  white-space: nowrap;
}

.table th:nth-child(4),
.table td:nth-child(4) {
  width: 8pc;
  white-space: nowrap;
}

.table th:nth-child(5),
.table td:nth-child(5) {
  width: 5.5pc;
  white-space: nowrap;
}

.table th:nth-child(6),
.table td:nth-child(6) {
  width: 5pc;
  white-space: nowrap;
}



.table th {
  font-family: "Roboto Slab", serif;
  font-weight: 700;
  font-size: 1.25pc;
  background: #5E1B89;
  border-collapse: separate;
  border-spacing: 0px 1px;
  border-radius: 0px;
}


.table td {
  font-family: "Lato", serif;
  font-weight: 500;
  font-size: 1pc;
  background-color: white;
  color: grey;
}

/* Customize disabled inputs */
input:disabled,
input.task-input:disabled {
  background-color: #f0f0f0; /* Light grey background */
  border-color: black; /* Lighter border color */
  cursor: not-allowed; /* Change cursor to indicate disabled state */
}

.completed-task {
  text-decoration: line-through; /* Add a strikethrough */
  color: #888; /* Optional: Dim the text color to make it appear "completed" */
}


.task-input,
.date-picker,
.time-picker {
  border: none;
  background: transparent;
  color: inherit;
  width: 100%;
  padding: 5px;
  font-family: "Lato", serif;
  font-weight: 500;
  font-size: 1pc;
  color: grey;
}


.task-input:focus,
.date-picker:focus,
.time-picker:focus {
  outline: none;
  background: rgba(255, 255, 255, 0.2);
  border-radius: 3px;
  font-family: "Lato", serif;
  font-weight: 500;
  font-size: 1.05pc;
  color: grey;
}


.status-dropdown .dropdown-toggle {
  background: transparent !important;
  border: none !important;
  color: inherit !important;
  box-shadow: none !important;
}

.date-picker,
.time-picker {
  cursor: pointer;
}


.date-picker-input,
.time-picker-input {  
  font-family: "Lato", sans-serif !important;
  font-weight: 500;
  font-size: 1pc;
}


.react-datepicker {
  font-family: "Lato", sans-serif !important;
  font-size: 1pc;
}


.react-datepicker__day,
.react-datepicker__header,
.react-datepicker__month {
  font-family: "Lato", sans-serif !important;
  font-size: 1pc;
}

.transparent-dropdown .dropdown-toggle {
  background: transparent !important;
  border: none !important;
  color: inherit !important;
  box-shadow: none !important;
  padding: 5px;
  font-size: 1pc;
  
}

.transparent-dropdown .dropdown-menu {
  background: white !important;
  border: none !important;
  padding: 5px;
  width: 140px !important;
  border-radius: 6px;
  
}



.transparent-dropdown .dropdown-item:hover {
  filter: brightness(1.2);
}


.transparent-dropdown .dropdown-toggle,
.transparent-dropdown .dropdown-menu,
.transparent-dropdown .dropdown-item {
  font-family: "Lato", serif !important;
  color: grey;

}


.btn-primary {
  background-color: #5E1B89;
  border: none;
  font-size: 1pc;
}

.btn-primary:hover {
  background-color: #5E1B89;
  font-size: 1pc;
}

.btn-primary:active {
  background-color: #5E1B89 !important;
}

.btn-danger {
  background-color: #f4512c;
  border: none;
  font-size: 1pc;
}

.btn-danger:hover {
  background-color: #f4512c;
  font-size: 1pc;
}

.btn-danger:active {
  background-color: #f4512c !important;
}