
.custom-dropdown .dropdown-toggle {
  font-family: "Lato", sans-serif !important;
  font-weight: 500;
}

.custom-dropdown .dropdown-menu .dropdown-item {
    font-family: "Lato", sans-serif !important;
    font-weight: 500;
    background-color: transparent;
  }
